<% include ../partials/header %>
<h1>Uh-Oh. Looks like you're charting new territory!</h1>
<p>(This page can't be found. We'll get back to you on this)</p>
<a href="/animals"><button>Go Home!</button></a>
<% include ../partials/footer %>